# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [ ]:
# Your code here

import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

db = pd.read_csv(url)
db.rename(columns={"ST": "State"}, inplace=True)
db.columns = db.columns.str.lower()
db.columns = db.columns.str.replace(" ", "_")
db.head(10)

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

db = pd.read_csv(url)
db.rename(columns={"ST": "State"}, inplace=True)
db.columns = db.columns.str.lower()
db.columns = db.columns.str.replace(" ", "_")


# gender

unique_values_gender = db["gender"].unique()
print(unique_values_gender)

gender_map = {
    'F': 'F',
    'Femal': 'F',
    'female': 'F',
    'M': 'M',
    'Male': 'M'
}

db['gender'] = db['gender'].replace(gender_map)
print(db['gender'].unique())

# state

unique_values_state = db["state"].unique()
print(unique_values_state)

state_map = {
    'Washington': 'Washington',
    'WA': 'Washington',
    'Arizona': 'Arizona',
    'AZ': 'Arizona',
    'California': 'California',
    'Cali': 'California',
}

db['state'] = db['state'].replace(state_map)
print(db['state'].unique())

# education

unique_values_education = db["education"].unique()
print(unique_values_education)

education_map = {
    'High School or Below': 'High School or Below',
    'Bachelors': 'Bachelor',
    'Master': 'Master',
    'Doctor': 'Doctor',
    'College ': 'College',
    ' Bachelor': 'Bachelor',
}

db['education'] = db['education'].replace(education_map)
print(db['education'].unique())

# customer_lifetime_value

db['customer_lifetime_value'] = db['customer_lifetime_value'].str.rstrip('%')

# vehicle_class

unique_values_vehicle_class = db["vehicle_class"].unique()
print(unique_values_vehicle_class)

vehicle_class_map = {
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
}

db['vehicle_class'] = db['vehicle_class'].replace(vehicle_class_map)
print(db['vehicle_class'].unique())

db.head(50)

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

db = pd.read_csv(url)
db.rename(columns={"ST": "State"}, inplace=True)
db.columns = db.columns.str.lower()
db.columns = db.columns.str.replace(" ", "_")

# gender
unique_values_gender = db["gender"].unique()
print(unique_values_gender)

gender_map = {
    'F': 'F',
    'Femal': 'F',
    'female': 'F',
    'M': 'M',
    'Male': 'M'
}

db['gender'] = db['gender'].replace(gender_map)
print(db['gender'].unique())

# state
unique_values_state = db["state"].unique()
print(unique_values_state)

state_map = {
    'Washington': 'Washington',
    'WA': 'Washington',
    'Arizona': 'Arizona',
    'AZ': 'Arizona',
    'California': 'California',
    'Cali': 'California',
}

db['state'] = db['state'].replace(state_map)
print(db['state'].unique())

# education
unique_values_education = db["education"].unique()
print(unique_values_education)

education_map = {
    'High School or Below': 'High School or Below',
    'Bachelors': 'Bachelor',
    'Master': 'Master',
    'Doctor': 'Doctor',
    'College ': 'College',
    ' Bachelor': 'Bachelor',
}

db['education'] = db['education'].replace(education_map)
print(db['education'].unique())

# customer_lifetime_value
db['customer_lifetime_value'] = db['customer_lifetime_value'].str.rstrip('%').astype(float)

# number_of_open_complaints
def extract_complaints(value):
    try:
        return int(value.split('/')[1])
    except (IndexError, ValueError):
        return 0

db['number_of_open_complaints'] = db['number_of_open_complaints'].astype(str)
db['number_of_open_complaints'] = db['number_of_open_complaints'].apply(extract_complaints)

# vehicle_class
unique_values_vehicle_class = db["vehicle_class"].unique()
print(unique_values_vehicle_class)

vehicle_class_map = {
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
}

db['vehicle_class'] = db['vehicle_class'].replace(vehicle_class_map)
print(db['vehicle_class'].unique())

db.head(20)

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [ ]:
# Your code here

import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

db = pd.read_csv(url)
db.rename(columns={"ST": "State"}, inplace=True)
db.columns = db.columns.str.lower()
db.columns = db.columns.str.replace(" ", "_")

# gender
unique_values_gender = db["gender"].unique()
print(unique_values_gender)

gender_map = {
    'F': 'F',
    'Femal': 'F',
    'female': 'F',
    'M': 'M',
    'Male': 'M'
}

db['gender'] = db['gender'].replace(gender_map)
print(db['gender'].unique())

# state
unique_values_state = db["state"].unique()
print(unique_values_state)

state_map = {
    'Washington': 'Washington',
    'WA': 'Washington',
    'Arizona': 'Arizona',
    'AZ': 'Arizona',
    'California': 'California',
    'Cali': 'California',
}

db['state'] = db['state'].replace(state_map)
print(db['state'].unique())

# education
unique_values_education = db["education"].unique()
print(unique_values_education)

education_map = {
    'High School or Below': 'High School or Below',
    'Bachelors': 'Bachelor',
    'Master': 'Master',
    'Doctor': 'Doctor',
    'College ': 'College',
    ' Bachelor': 'Bachelor',
}

db['education'] = db['education'].replace(education_map)
print(db['education'].unique())

# customer_lifetime_value
db['customer_lifetime_value'] = db['customer_lifetime_value'].str.rstrip('%').astype(float)

# number_of_open_complaints
def extract_complaints(value):
    try:
        return int(value.split('/')[1])
    except (IndexError, ValueError):
        return 0

db['number_of_open_complaints'] = db['number_of_open_complaints'].astype(str)
db['number_of_open_complaints'] = db['number_of_open_complaints'].apply(extract_complaints)

# vehicle_class
unique_values_vehicle_class = db["vehicle_class"].unique()
print(unique_values_vehicle_class)

vehicle_class_map = {
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
}

db['vehicle_class'] = db['vehicle_class'].replace(vehicle_class_map)
print(db['vehicle_class'].unique())

# Identify columns with null values
null_values = db.isnull().sum()
print(null_values)


# For the following strategy, i will fill numerical null values with the column mean and categorical null values with the mode

# Fill numerical null values with column mean
numerical_columns = db.select_dtypes(include=['float64', 'int64']).columns
db[numerical_columns] = db[numerical_columns].fillna(db[numerical_columns].mean())

# Fill categorical null values with mode
categorical_columns = db.select_dtypes(include=['object']).columns
db[categorical_columns] = db[categorical_columns].apply(lambda x: x.fillna(x.mode()[0]))

# Verify that null values have been handled
null_values_after = db.isnull().sum()
print(null_values_after)

# Convert all numeric variables to integers
db[numerical_columns] = db[numerical_columns].astype(int)

db.head(20)

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [ ]:
# Your code here

import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

db = pd.read_csv(url)
db.rename(columns={"ST": "State"}, inplace=True)
db.columns = db.columns.str.lower()
db.columns = db.columns.str.replace(" ", "_")

# gender
unique_values_gender = db["gender"].unique()
print(unique_values_gender)

gender_map = {
    'F': 'F',
    'Femal': 'F',
    'female': 'F',
    'M': 'M',
    'Male': 'M'
}

db['gender'] = db['gender'].replace(gender_map)
print(db['gender'].unique())

# state
unique_values_state = db["state"].unique()
print(unique_values_state)

state_map = {
    'Washington': 'Washington',
    'WA': 'Washington',
    'Arizona': 'Arizona',
    'AZ': 'Arizona',
    'California': 'California',
    'Cali': 'California',
}

db['state'] = db['state'].replace(state_map)
print(db['state'].unique())

# education
unique_values_education = db["education"].unique()
print(unique_values_education)

education_map = {
    'High School or Below': 'High School or Below',
    'Bachelors': 'Bachelor',
    'Master': 'Master',
    'Doctor': 'Doctor',
    'College ': 'College',
    ' Bachelor': 'Bachelor',
}

db['education'] = db['education'].replace(education_map)
print(db['education'].unique())

# customer_lifetime_value
db['customer_lifetime_value'] = db['customer_lifetime_value'].str.rstrip('%').astype(float)

# number_of_open_complaints
def extract_complaints(value):
    try:
        return int(value.split('/')[1])
    except (IndexError, ValueError):
        return 0

db['number_of_open_complaints'] = db['number_of_open_complaints'].astype(str)
db['number_of_open_complaints'] = db['number_of_open_complaints'].apply(extract_complaints)

# vehicle_class
unique_values_vehicle_class = db["vehicle_class"].unique()
print(unique_values_vehicle_class)

vehicle_class_map = {
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
}

db['vehicle_class'] = db['vehicle_class'].replace(vehicle_class_map)
print(db['vehicle_class'].unique())

# Identify columns with null values
null_values = db.isnull().sum()
print(null_values)

# For the following strategy, i will fill numerical null values with the column mean and categorical null values with the mode

# Fill numerical null values with column mean
numerical_columns = db.select_dtypes(include=['float64', 'int64']).columns
db[numerical_columns] = db[numerical_columns].fillna(db[numerical_columns].mean())

# Fill categorical null values with mode
categorical_columns = db.select_dtypes(include=['object']).columns
db[categorical_columns] = db[categorical_columns].apply(lambda x: x.fillna(x.mode()[0]))

# Verify that null values have been handled
null_values_after = db.isnull().sum()
print(null_values_after)

# Convert all numeric variables to integers
db[numerical_columns] = db[numerical_columns].astype(int)

# Identify duplicate rows
duplicates = db.duplicated()
print(duplicates.sum())

# For the next strategy, i will drop all rows that are duplicates

# Drop all duplicate rows
db = db.drop_duplicates()

# Verify that duplicates have been handled
duplicates_after = db.duplicated()
print(duplicates_after.sum())

# Reset the index
db = db.reset_index(drop=True)

# Save the cleaned dataset to a new CSV file
db.to_csv('cleaned_data.csv', index=False)

db.head(20)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

import pandas as pd
from functions import (load_data, clean_gender, clean_state, clean_education, clean_customer_lifetime_value,
                       clean_number_of_open_complaints, clean_vehicle_class, handle_null_values, handle_duplicates,
                       save_cleaned_data)

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

# Load data
db = load_data(url)

# Clean data
db = clean_gender(db)
db = clean_state(db)
db = clean_education(db)
db = clean_customer_lifetime_value(db)
db = clean_number_of_open_complaints(db)
db = clean_vehicle_class(db)

# Handle null values
db = handle_null_values(db)

# Handle duplicates
db = handle_duplicates(db)

# Save cleaned data
save_cleaned_data(db)

# Ask user if they want to see the table
try:
    show_table = input("Do you want to see the first 50 rows of the cleaned table? (Y/N): ").strip().upper()
    if show_table == 'Y':
        print(db.head(50))
    elif show_table == 'N':
        print("Table display skipped.")
    else:
        print("Invalid input. Please enter 'Y' or 'N'.")
except Exception as e:
    print(f"An error occurred: {e}")

    # Save the cleaned dataset to a new CSV file
db.to_csv('cleaned_data.csv', index=False)

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here

import pandas as pd
from functions import (load_data, clean_gender, clean_state, clean_education, clean_customer_lifetime_value,
                       clean_number_of_open_complaints, clean_vehicle_class, handle_null_values, handle_duplicates,
                       save_cleaned_data, review_statistics, identify_customers, calculate_summary_statistics)

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

# Load data
db = load_data(url)

# Clean data
db = clean_gender(db)
db = clean_state(db)
db = clean_education(db)
db = clean_customer_lifetime_value(db)
db = clean_number_of_open_complaints(db)
db = clean_vehicle_class(db)

# Handle null values
db = handle_null_values(db)

# Handle duplicates
db = handle_duplicates(db)

# Save cleaned data
save_cleaned_data(db)

# Review statistics
stats = db[['total_claim_amount', 'customer_lifetime_value']].describe().round(2)
print("Statistics for Total Claim Amount and Customer Lifetime Value:")
print(stats)

# Identify customers with high policy claim amount and low customer lifetime value
high_claim_threshold = db['total_claim_amount'].quantile(0.75)
low_clv_threshold = db['customer_lifetime_value'].quantile(0.25)
filtered_db = db[(db['total_claim_amount'] > high_claim_threshold) & (db['customer_lifetime_value'] < low_clv_threshold)]

# Calculate summary statistics
summary_stats = filtered_db[['total_claim_amount', 'customer_lifetime_value']].describe().round(2)
print("Summary Statistics for High Policy Claim Amount and Low Customer Lifetime Value:")
print(summary_stats)

# Save the cleaned dataset to a new CSV file
db.to_csv('cleaned_data_challenge_3.csv', index=False)